[submodule ".registry"]
	path = .registry
	url = https://github.com/epiverse-connect/epiverse-connect.r-universe.dev
	branch = HEAD
[submodule "AMR"]
	path = AMR
	url = https://github.com/msberends/AMR
[submodule "ATQ"]
	path = ATQ
	url = https://github.com/vjoshy/ATQ_Surveillance_Package
[submodule "BayesianFitForecast"]
	path = BayesianFitForecast
	url = https://github.com/gchowell/BayesianFitForecast
[submodule "Bernadette"]
	path = Bernadette
	url = https://github.com/bernadette-eu/Bernadette
[submodule "COVID19"]
	path = COVID19
	url = https://github.com/covid19datahub/COVID19
[submodule "CovidMutations"]
	path = CovidMutations
	url = https://github.com/MSQ-123/CovidMutations
[submodule "DSAIDE"]
	path = DSAIDE
	url = https://github.com/ahgroup/DSAIDE
[submodule "EVI"]
	path = EVI
	url = https://github.com/ku-awdc/EVI
[submodule "Epi"]
	path = Epi
	url = https://github.com/cran/Epi
[submodule "EpiContactTrace"]
	path = EpiContactTrace
	url = https://github.com/stewid/EpiContactTrace
[submodule "EpiCurve"]
	path = EpiCurve
	url = https://github.com/IamKDO/EpiCurve
[submodule "EpiDynamics"]
	path = EpiDynamics
	url = https://github.com/oswaldosantos/EpiDynamics
[submodule "EpiEstim"]
	path = EpiEstim
	url = https://github.com/mrc-ide/EpiEstim
[submodule "EpiForsk"]
	path = EpiForsk
	url = https://github.com/Laksafoss/EpiForsk
[submodule "EpiILM"]
	path = EpiILM
	url = https://github.com/waleedalmutiry/EpiILM
[submodule "EpiILMCT"]
	path = EpiILMCT
	url = https://github.com/waleedalmutiry/EpiILMCT
[submodule "EpiInvert"]
	path = EpiInvert
	url = https://github.com/lalvarezmat/EpiInvert
[submodule "EpiModel"]
	path = EpiModel
	url = https://github.com/EpiModel/EpiModel
[submodule "EpiNow2"]
	path = EpiNow2
	url = https://github.com/epiforecasts/EpiNow2
[submodule "EpiReport"]
	path = EpiReport
	url = https://github.com/EU-ECDC/EpiReport
[submodule "EpiSignalDetection"]
	path = EpiSignalDetection
	url = https://github.com/EU-ECDC/EpiSignalDetection
[submodule "EpiStats"]
	path = EpiStats
	url = https://github.com/cran/EpiStats
[submodule "R0"]
	path = R0
	url = https://github.com/tobadia/R0
[submodule "RSurveillance"]
	path = RSurveillance
	url = https://github.com/roStats/RSurveillance
[submodule "SimInf"]
	path = SimInf
	url = https://github.com/stewid/SimInf
[submodule "SpatialEpi"]
	path = SpatialEpi
	url = https://github.com/rudeboybert/SpatialEpi
[submodule "TransPhylo"]
	path = TransPhylo
	url = https://github.com/xavierdidelot/TransPhylo
[submodule "adegenet"]
	path = adegenet
	url = https://github.com/thibautjombart/adegenet
[submodule "aedseo"]
	path = aedseo
	url = https://github.com/ssi-dk/aedseo
[submodule "apisensr"]
	path = apisensr
	url = https://github.com/dhaine/apisensr
[submodule "argo"]
	path = argo
	url = https://github.com/cran/argo
[submodule "bets.covid19"]
	path = bets.covid19
	url = https://github.com/qingyuanzhao/bets.covid19
[submodule "cercospoRa"]
	path = cercospoRa
	url = https://github.com/PaulMelloy/cercospoRa
[submodule "cfr"]
	path = cfr
	url = https://github.com/epiverse-trace/cfr
[submodule "cholera"]
	path = cholera
	url = https://github.com/lindbrook/cholera
[submodule "cleanepi"]
	path = cleanepi
	url = https://github.com/epiverse-trace/cleanepi
[submodule "cmprsk"]
	path = cmprsk
	url = https://github.com/cran/cmprsk
[submodule "coarseDataTools"]
	path = coarseDataTools
	url = https://github.com/nickreich/coarseDataTools
[submodule "colmozzie"]
	path = colmozzie
	url = https://github.com/thiyangt/colmozzie
[submodule "contactdata"]
	path = contactdata
	url = https://github.com/bisaloo/contactdata
[submodule "corona"]
	path = corona
	url = https://github.com/cran/corona
[submodule "coronavirus"]
	path = coronavirus
	url = https://github.com/RamiKrispin/coronavirus
[submodule "covid19.analytics"]
	path = covid19.analytics
	url = https://github.com/mponce0/covid19.analytics
[submodule "covid19br"]
	path = covid19br
	url = https://github.com/fndemarqui/covid19br
[submodule "covid19dbcand"]
	path = covid19dbcand
	url = https://github.com/MohammedFCIS/covid19dbcand
[submodule "covid19france"]
	path = covid19france
	url = https://github.com/Covid19R/covid19france
[submodule "covid19italy"]
	path = covid19italy
	url = https://github.com/RamiKrispin/covid19italy
[submodule "covid19sf"]
	path = covid19sf
	url = https://github.com/RamiKrispin/covid19sf
[submodule "covid19swiss"]
	path = covid19swiss
	url = https://github.com/Covid19R/covid19swiss
[submodule "covid19us"]
	path = covid19us
	url = https://github.com/aedobbyn/covid19us
[submodule "dataquieR"]
	path = dataquieR
	url = https://github.com/cran/dataquieR
[submodule "dbparser"]
	path = dbparser
	url = https://github.com/ropensci/dbparser
[submodule "dde"]
	path = dde
	url = https://github.com/mrc-ide/dde
[submodule "deSolve"]
	path = deSolve
	url = https://github.com/cran/deSolve
[submodule "delphidocs"]
	path = delphidocs
	url = https://github.com/cmu-delphi/delphidocs
	registered = false
[submodule "denguedatahub"]
	path = denguedatahub
	url = https://github.com/thiyangt/denguedatahub
[submodule "diyar"]
	path = diyar
	url = https://github.com/OlisaNsonwu/diyar
[submodule "earlyR"]
	path = earlyR
	url = https://github.com/reconhub/earlyR
[submodule "eesim"]
	path = eesim
	url = https://github.com/cran/eesim
[submodule "endtoend"]
	path = endtoend
	url = https://github.com/cran/endtoend
[submodule "epiCleanr"]
	path = epiCleanr
	url = https://github.com/truenomad/epiCleanr
[submodule "epiCo"]
	path = epiCo
	url = https://github.com/epiverse-trace/epiCo
[submodule "epiDisplay"]
	path = epiDisplay
	url = https://github.com/cran/epiDisplay
[submodule "epiR"]
	path = epiR
	url = https://github.com/mstevenson888/epiR
[submodule "epibasix"]
	path = epibasix
	url = https://github.com/cran/epibasix
[submodule "epicasting"]
	path = epicasting
	url = https://github.com/cran/epicasting
[submodule "epichains"]
	path = epichains
	url = https://github.com/epiverse-trace/epichains
[submodule "epicontacts"]
	path = epicontacts
	url = https://github.com/reconhub/epicontacts
[submodule "epidatr"]
	path = epidatr
	url = https://github.com/cmu-delphi/epidatr
[submodule "epidm"]
	path = epidm
	url = https://github.com/alexbhatt/epidm
[submodule "epifitter"]
	path = epifitter
	url = https://github.com/AlvesKS/epifitter
[submodule "epiflows"]
	path = epiflows
	url = https://github.com/reconhub/epiflows
[submodule "epigrowthfit"]
	path = epigrowthfit
	url = https://github.com/davidearn/epigrowthfit
[submodule "epikit"]
	path = epikit
	url = https://github.com/R4EPI/epikit
[submodule "epimdr2"]
	path = epimdr2
	url = https://github.com/objornstad/epimdr2
	subdir = source
[submodule "epinet"]
	path = epinet
	url = https://github.com/cran/epinet
[submodule "epiparameter"]
	path = epiparameter
	url = https://github.com/epiverse-trace/epiparameter
[submodule "epiparameterDB"]
	path = epiparameterDB
	url = https://github.com/epiverse-trace/epiparameterDB
[submodule "epiphy"]
	path = epiphy
	url = https://github.com/chgigot/epiphy
[submodule "episensr"]
	path = episensr
	url = https://github.com/dhaine/episensr
[submodule "epitab"]
	path = epitab
	url = https://github.com/stulacy/epitab
[submodule "epitools"]
	path = epitools
	url = https://github.com/cran/epitools
[submodule "epitrix"]
	path = epitrix
	url = https://github.com/reconhub/epitrix
[submodule "epitweetr"]
	path = epitweetr
	url = https://github.com/EU-ECDC/epitweetr
	subdir = epitweetr
[submodule "epiworldR"]
	path = epiworldR
	url = https://github.com/UofUEpiBio/epiworldR
[submodule "epiworldRShiny"]
	path = epiworldRShiny
	url = https://github.com/UofUEpiBio/epiworldRShiny
[submodule "etm"]
	path = etm
	url = https://github.com/mclements/etm
[submodule "excessmort"]
	path = excessmort
	url = https://github.com/rafalab/excessmort
[submodule "finalsize"]
	path = finalsize
	url = https://github.com/epiverse-trace/finalsize
[submodule "genSEIR"]
	path = genSEIR
	url = https://github.com/selcukorkmaz/genSEIR
[submodule "ggsurveillance"]
	path = ggsurveillance
	url = https://github.com/biostats-dev/ggsurveillance
[submodule "hmsidwR"]
	path = hmsidwR
	url = https://github.com/Fgazzelloni/hmsidwR
[submodule "incidence"]
	path = incidence
	url = https://github.com/reconhub/incidence
[submodule "incidence2"]
	path = incidence2
	url = https://github.com/reconverse/incidence2
[submodule "inctools"]
	path = inctools
	url = https://github.com/SACEMA/inctools
[submodule "linelist"]
	path = linelist
	url = https://github.com/epiverse-trace/linelist
[submodule "linelistBayes"]
	path = linelistBayes
	url = https://github.com/cmilando/linelistBayes
[submodule "malariaAtlas"]
	path = malariaAtlas
	url = https://github.com/malaria-atlas-project/malariaAtlas
[submodule "mem"]
	path = mem
	url = https://github.com/lozalojo/mem
[submodule "memapp"]
	path = memapp
	url = https://github.com/lozalojo/memapp
[submodule "modelSSE"]
	path = modelSSE
	url = https://github.com/cran/modelSSE
[submodule "mstate"]
	path = mstate
	url = https://github.com/hputter/mstate
[submodule "nbTransmission"]
	path = nbTransmission
	url = https://github.com/sarahleavitt/nbTransmission
[submodule "nhanesA"]
	path = nhanesA
	url = https://github.com/cjendres1/nhanes
[submodule "nosoi"]
	path = nosoi
	url = https://github.com/slequime/nosoi
[submodule "o2geosocial"]
	path = o2geosocial
	url = https://github.com/alxsrobert/o2geosocial
[submodule "odin"]
	path = odin
	url = https://github.com/mrc-ide/odin
[submodule "outbreaker2"]
	path = outbreaker2
	url = https://github.com/reconhub/outbreaker2
[submodule "outbreaks"]
	path = outbreaks
	url = https://github.com/reconhub/outbreaks
[submodule "phylepic"]
	path = phylepic
	url = https://github.com/cidm-ph/phylepic
[submodule "pomp"]
	path = pomp
	url = https://github.com/kingaa/pomp
[submodule "popEpi"]
	path = popEpi
	url = https://github.com/FinnishCancerRegistry/popEpi
[submodule "powerSurvEpi"]
	path = powerSurvEpi
	url = https://github.com/cran/powerSurvEpi
[submodule "riskCommunicator"]
	path = riskCommunicator
	url = https://github.com/jgrembi/riskCommunicator
[submodule "rplanes"]
	path = rplanes
	url = https://github.com/signaturescience/rplanes
[submodule "shinySIR"]
	path = shinySIR
	url = https://github.com/SineadMorris/shinySIR
[submodule "simulist"]
	path = simulist
	url = https://github.com/epiverse-trace/simulist
[submodule "sivirep"]
	path = sivirep
	url = https://github.com/epiverse-trace/sivirep
[submodule "socialmixr"]
	path = socialmixr
	url = https://github.com/epiforecasts/socialmixr
[submodule "superspreading"]
	path = superspreading
	url = https://github.com/epiverse-trace/superspreading
[submodule "surveillance"]
	path = surveillance
	url = https://github.com/cran/surveillance
[submodule "tidyrates"]
	path = tidyrates
	url = https://github.com/rfsaldanha/tidyrates
[submodule "trendeval"]
	path = trendeval
	url = https://github.com/reconverse/trendeval
[submodule "trending"]
	path = trending
	url = https://github.com/reconverse/trending
[submodule "tsiR"]
	path = tsiR
	url = https://github.com/adbecker/tsiR
[submodule "vaccineff"]
	path = vaccineff
	url = https://github.com/epiverse-trace/vaccineff
