[submodule ".registry"]
	path = .registry
	url = https://github.com/epiverse-connect/epiverse-connect.r-universe.dev
	branch = HEAD
[submodule "ColOpenData"]
	path = ColOpenData
	url = https://github.com/epiverse-trace/ColOpenData
[submodule "cleanepi"]
	path = cleanepi
	url = https://github.com/epiverse-trace/cleanepi
[submodule "epiCo"]
	path = epiCo
	url = https://github.com/epiverse-trace/epiCo
[submodule "epichains"]
	path = epichains
	url = https://github.com/epiverse-trace/epichains
[submodule "epidemics"]
	path = epidemics
	url = https://github.com/epiverse-trace/epidemics
[submodule "episoap"]
	path = episoap
	url = https://github.com/epiverse-trace/episoap
[submodule "fingertipsR"]
	path = fingertipsR
	url = https://github.com/rOpenSci/fingertipsR
	registered = false
[submodule "iraca"]
	path = iraca
	url = https://github.com/epiverse-trace/iraca
[submodule "numberize"]
	path = numberize
	url = https://github.com/epiverse-trace/numberize
[submodule "quickfit"]
	path = quickfit
	url = https://github.com/epiverse-trace/quickfit
[submodule "readepi"]
	path = readepi
	url = https://github.com/epiverse-trace/readepi
[submodule "scenarios"]
	path = scenarios
	url = https://github.com/epiverse-trace/scenarios
[submodule "sivirep"]
	path = sivirep
	url = https://github.com/epiverse-trace/sivirep
[submodule "vaccineff"]
	path = vaccineff
	url = https://github.com/epiverse-trace/vaccineff
